@import url("micons/micons.css");
.heading-section {
  padding-top: 10px;
  position: relative; }
  .heading-section .subheading {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px; }
  .heading-section h1.big {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900; }
    .heading-section h1.big.big-2 {
      right: 0; }
  .heading-section h2 {
    font-size: 50px;
    font-weight: 700; }
    .heading-section h2 span {
      font-weight: 400; }
    @media (max-width: 767.98px) {
      .heading-section h2 {
        font-size: 38px; } }
  .heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.9) !important; }
  .heading-section.heading-section-white h2 {
    color: #fff; }
  .heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9); }

.img,
.blog-img,
.user-img {
  padding-top: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

#section-counter {
  position: relative;
  z-index: 0; }

  .progress {
    height: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1a1a1a;
    overflow: visible; }
  
  .progress-bar {
    background: #005b01;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .progress-bar:after {
      position: absolute;
      top: -2px;
      right: 0;
      width: 34px;
      height: 34px;
      content: '';
      background: #1a751b;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      opacity: 0; }
    .progress-bar span {
      position: absolute;
      top: -38px;
      right: 0;
      font-size: 20px;
      font-weight: 400;
      color: #fff; }
      
.contact-section .contact-info p a {
  color: #1a1a1a; }

.contact-section .box {
  width: 100%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  @media (max-width: 991.98px) {
    .contact-section .box {
      margin-bottom: 30px; } }
  .contact-section .box .icon {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-bottom: 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .contact-section .box .icon span {
      color: #1a751b;
      font-size: 30px; }
  .contact-section .box h3 {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase; }

.contact-section .contact-form {
  width: 100%; }

.contact-section .img {
  width: 100%;
  background-position: top center; }
  @media (max-width: 991.98px) {
    .contact-section .img {
      height: 500px; } }

.contact-section .contact-info p a {
  color: #fff; }

.contact-section .contact-form {
  width: 100%; }
  @media (max-width: 767.98px) {
    .contact-section .contact-form .btn-primary {
      display: block;
      width: 100%; } }
      #section-counter {
        position: relative;
        z-index: 0; }
      
      @media (max-width: 1199.98px) {
        .ftco-counter {
          background-position: center center !important; } }
      
      .ftco-counter .block-18 {
        display: block;
        width: 100%;
        text-align: center;
        background: #191919;
        padding: 30px 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
      
      .ftco-counter .text strong.number {
        font-weight: 700;
        font-size: 30px;
        color: #1a751b;
        display: block; }
      
      .ftco-counter .text span {
        display: block;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8); }
      
      @media (max-width: 767.98px) {
        .ftco-counter .counter-wrap {
          margin-bottom: 20px; } }
      
      .ftco-counter .ftco-number {
        display: block;
        font-size: 72px;
        font-weight: bold;
        color: #1a751b; }
      
      .ftco-counter .ftco-label {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .1em; }
      
      .block-20 {
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        display: block;
        width: 100%;
        height: 350px; }
      
      .blog-entry {
        position: relative; }
        @media (min-width: 768px) {
          .blog-entry {
            margin-bottom: 30px; } }
        @media (max-width: 767.98px) {
          .blog-entry {
            margin-bottom: 30px; } }
        .blog-entry .text {
          width: 100%;
          margin: 0 auto; }
          .blog-entry .text .heading {
            font-size: 20px;
            margin-bottom: 16px;
            font-weight: 500; }
            .blog-entry .text .heading a {
              color: #fff; }
              .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
                color: #1a751b; }
        .blog-entry .meta {
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 0;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px; }
          .blog-entry .meta span {
            color: #1a751b; }
          .blog-entry .meta a {
            color: #1a751b; }
            .blog-entry .meta a:hover {
              color: #1a751b; }
      
      .block-23 ul {
        padding: 0; }
        .block-23 ul li, .block-23 ul li > a {
          display: table;
          line-height: 1.5;
          margin-bottom: 15px; }
        .block-23 ul li span {
          color: rgba(255, 255, 255, 0.7); }
        .block-23 ul li .icon, .block-23 ul li .text {
          display: table-cell;
          vertical-align: top; }
        .block-23 ul li .icon {
          width: 40px;
          font-size: 18px;
          padding-top: 2px;
          color: white; }
      
      .block-6 {
        margin-bottom: 40px; }
        .block-6 .media-body p {
          font-size: 16px; }
      
      .block-27 ul {
        padding: 0;
        margin: 0; }
        .block-27 ul li {
          display: inline-block;
          margin-bottom: 4px;
          font-weight: 400; }
          .block-27 ul li a, .block-27 ul li span {
            color: #a0f669;
            text-align: center;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            border: 1px solid #cccccc; }
          .block-27 ul li.active a, .block-27 ul li.active span {
            background: #a0f669;
            color: #fff;
            border: 1px solid transparent; }
            .ftco-hireme {
  background: #1a751b;
  z-index: -1; }
  .ftco-hireme h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 900; }
    .ftco-hireme h2 span {
      color: #1a751b; }
      .contact-info {
        margin: 4.8rem auto 0;
        font-family: "poppins-regular", sans-serif;
        font-size: 1.5rem;
        text-align: center;
      }
      .contact-info .collapse {
        padding: 0;
      }
      .contact-info .icon {
        margin-bottom: 2.1rem;
      }
      .contact-info .icon i {
        font-size: 4.2rem;
        color: #FFFFFF;
      }
      .contact-info h5 {
        color: #1a751b;
      }

      @media screen and (max-width:1024px) {
        .row .row {
          margin-left: -18px;
          margin-right: -18px;
        }
      
        [class*="col-"] {
          padding: 0 18px;
        }
      
      }
      
      /**
       * tablets - (_grid.scss)
       * --------------------------------------------------------------- 
       */
      @media screen and (max-width:768px) {
        .rowss {
          width: auto;
          padding-left: 30px;
          padding-right: 30px;
        }
      
        .rowss .rowss {
          padding-left: 0;
          padding-right: 0;
          margin-left: -15px;
          margin-right: -15px;
        }
      
        [class*="col-"] {
          padding: 0 15px;
        }
      
        .tab-1-4 {
          width: 25%;
        }
      
        .tab-1-3 {
          width: 33.33333%;
        }
      
        .tab-1-2 {
          width: 50%;
        }
      
        .tab-2-3 {
          width: 66.66667%;
        }
      
        .tab-3-4 {
          width: 75%;
        }
      
        .tab-full {
          width: 100%;
        }
      
      }
      .rowss {
        width: 94%;
        max-width: 1140px;
        margin: 0 auto;
      }
      
      .rowss:before,
      .rowss:after {
        content: "";
        display: table;
      }
      
      .rowss:after {
        clear: both;
      }
      
      .row .row {
        width: auto;
        max-width: none;
        margin-left: -20px;
        margin-right: -20px;
      }
      
      [class*="col-"],
      .bgrid {
        float: left;
      }
      
      [class*="col-"] + [class*="col-"].end {
        float: right;
      }
      
      [class*="col-"] {
        padding: 0 20px;
      }
      
      .col-one {
        width: 8.33333%;
      }
      
      .col-two,
      .col-1-6 {
        width: 16.66667%;
      }
      
      .col-three,
      .col-1-4 {
        width: 25%;
      }
      
      .col-four,
      .col-1-3 {
        width: 33.33333%;
      }
      
      .col-five {
        width: 41.66667%;
      }
      
      .col-six,
      .col-1-2 {
        width: 50%;
      }
      
      .col-seven {
        width: 58.33333%;
      }
      
      .col-eight,
      .col-2-3 {
        width: 66.66667%;
      }
      
      .col-nine,
      .col-3-4 {
        width: 75%;
      }
      
      .col-ten,
      .col-5-6 {
        width: 83.33333%;
      }
      
      .col-eleven {
        width: 91.66667%;
      }
      
      .col-twelve,
      .col-full {
        width: 100%;
      }

#ftco-loader